html,
body,
.offcanvas,
.modal-content {
  background-color: #36454F !important;
  color: #f7f7f7 !important;
}

input[type="range"] {
  -webkit-appearance: none;
  display: block;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #f7f7f7;
  border-radius: 0.33rem;
  height: 0.25rem;
}

input[type="range"]::-moz-range-track {
  background: #f7f7f7;
  border-radius: 0.33rem;
  height: 0.25rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -6px;
  /* Centers thumb on the track */
  background-color: #f7f7f7;
  border-radius: 0.25rem;
  height: 1rem;
  width: 0.33rem;
}

#input-party-link {
  background-color: #fff;
  font-size: 0.8em;
}

.offcanvas {
  visibility: visible !important;
}

.menu-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bootstrap-tagsinput .tag {
  font-size: 0.95em;
  color: #f9f9f9;
  background-color: #880808;
  border-radius: 0.2em;
  padding: 0 2px 0 2px;
}

.video-background {
  z-index: -100 !important;
}

.drawer {
  height: 0;
  bottom: 0;
  right: 2em;
  position: fixed;
  transition: 0.27s;
  background: #5c636a;
}

.no-focus {
  box-shadow: none !important;
}

.grid-indicator {
  border: 1px dashed;
}

.menu-toggle {
  width: 2.4em;
  position: absolute;
  height: 100vh;
}

.blinking {
  -webkit-animation: blinkingAnimation 1.8s infinite;
  /* Safari 4+ */
  -moz-animation: blinkingAnimation 1.8s infinite;
  /* Fx 5+ */
  -o-animation: blinkingAnimation 1.8s infinite;
  /* Opera 12+ */
  animation: blinkingAnimation 1.8s infinite;
  /* IE 10+, Fx 29+ */
}

@keyframes blinkingAnimation {
  0% {
    background-color: transparent;
  }

  6% {
    background-color: #ffeeaaB0;
  }

  29% {
    background-color: transparent;
  }

  35% {
    background-color: #ffeeaaB0;
  }

  58% {
    background-color: transparent;
  }
}